* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, sans-serif; }

.row, .layout-horizontal, .layout-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column, .layout-vertical, .layout-rows {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* 
.centered {
  place-content: center;
  display: grid;
} */

/* .text-centered {
  text-align: center;
} */
